interactions:
- request:
    body: '{"prompt": [{"type": "text", "data": "hello", "controls": []}], "completion_expected":
      "world", "contextual_control_threshold": null, "control_log_additive": true,
      "model": "luminous-base"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://b.inference.pharia.ai/v1/evaluate
  response:
    body:
      string: '{"model_version":"2022-04","result":{"log_probability":-11.3125,"log_perplexity":11.3125,"log_perplexity_per_token":11.3125,"log_perplexity_per_character":2.2625,"correct_greedy":false,"token_count":1,"character_count":5,"completion":","},"num_tokens_prompt_total":2}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
