interactions:
- request:
    body: '{"prompt": [{"type": "text", "data": "I am a programmer and French. My
      favourite food is", "controls": []}], "target": " pizza with cheese", "target_granularity":
      "token", "normalize": true, "model": "luminous-base"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inference-api.stage.product.pharia.com/v1/explain
  response:
    body:
      string: '{"model_version":"2022-04","explanations":[{"target":" pizza","items":[{"type":"text","scores":[{"start":0,"length":1,"score":0.0},{"start":2,"length":2,"score":0.0},{"start":5,"length":1,"score":0.015623728},{"start":7,"length":10,"score":0.015623728},{"start":18,"length":3,"score":0.062418748},{"start":22,"length":6,"score":0.0},{"start":28,"length":1,"score":0.077966444},{"start":30,"length":2,"score":0.12435301},{"start":33,"length":9,"score":0.87257004},{"start":43,"length":4,"score":0.6257347},{"start":48,"length":2,"score":0.031239832}]},{"type":"target","scores":[]}]},{"target":"
        with","items":[{"type":[...]
