interactions:
- request:
    body: '{"prompt": [{"type": "text", "data": "### Instruction:\nAnswer the question
      using the Source. If there''s no answer, say \"NO_ANSWER_IN_TEXT\".\n\n### Input:\nSource:
      The Battle of Waterloo was fought on Sunday 18 June 1815, near Waterloo (at
      that time in the United Kingdom of the Netherlands, now in Belgium). A French
      army under the command of Napoleon was defeated by two of the armies of the
      Seventh Coalition. One of these was a British-led coalition consisting of units
      from the United Kingdom, the Netherlands, Hanover, Brunswick, and Nassau, under
      the command of the Duke of Wellington (referred to by many authors as the Anglo-allied
      army or Wellington''s army). The other was composed of three corps of the Prussian
      army under the command of Field Marshal von Bl\u00fccher (the fourth corps of
      this army fought at the Battle of Wavre on the same day). The battle marked
      the end of the Napoleonic Wars. The battle was contemporaneously known as the
      Battle of Mont Saint-Jean (France) or La Belle Alliance (\"the Beautiful Alliance\"
      \u2013 Prussia).\nQuestion: Did India win or lost the Battle of Waterloo?\n\n###
      Response:", "controls": []}], "target": " India won the Battle of Waterloo.",
      "control_token_overlap": "partial", "control_log_additive": true, "prompt_granularity":
      {"type": "token"}, "target_granularity": "token", "control_factor": 0.1, "model":
      "luminous-base"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inference-api.stage.product.pharia.com/explain
  response:
    body:
      string: '{"model_version":"2022-04","explanations":[{"target":" India","items":[{"type":"text","scores":[{"start":0,"length":1,"score":1.375},{"start":1,"length":2,"score":0.21875},{"start":4,"length":3,"score":-0.21875},{"start":7,"length":8,"score":-0.203125},{"start":15,"length":1,"score":-0.40625},{"start":16,"length":1,"score":-1.046875},{"start":17,"length":6,"score":-0.21875},{"start":24,"length":3,"score":0.25},{"start":28,"length":8,"score":0.015625},{"start":37,"length":5,"score":-0.421875},{"start":43,"length":3,"score":0.015625},{"start":47,"length":6,"score":-0.234375},{"start":53,"length":1,"score":0.015625},{"sta[...]
