interactions:
- request:
    body: '{"prompt": [{"type": "text", "data": "hello", "controls": []}], "layers":
      [0, -1], "pooling": ["mean", "max"], "type": null, "tokens": false, "normalize":
      false, "contextual_control_threshold": null, "control_log_additive": true, "model":
      "luminous-base"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inference-api.stage.product.pharia.com/v1/embed
  response:
    body:
      string: '{"model_version":"2022-04","embeddings":{"layer_0":{"mean":[-0.018676758,0.03930664,0.017211914,-0.018798828,0.030639648,-0.035888672,-0.018798828,0.023071289,-0.02758789,-0.01574707,-0.028198242,0.00042915344,0.04736328,-0.0012130737,0.032470703,-0.0074768066,-0.006958008,0.029052734,-0.023071289,0.009765625,0.030151367,0.010681152,0.034179688,0.018920898,0.004333496,0.010253906,-0.005859375,0.025634766,0.018188477,0.010375977,-0.053222656,0.045898438,-0.004425049,-0.0134887695,0.0138549805,-0.01977539,0.017578125,0.012878418,-0.010009766,0.0046081543,[...]
