interactions:
- request:
    body:
      contextual_control_threshold: null
      control_log_additive: true
      layers:
      - -1
      model: luminous-base
      normalize: false
      pooling:
      - mean
      prompt:
      - controls: []
        data: abc
        type: text
      tokens: true
      type: null
    headers: {}
    method: POST
    uri: https://inference-api.stage.product.pharia.com/embed
  response:
    body:
      string: '{"model_version":"2022-04","embeddings":{"layer_40":{"mean":[1.8632812,6.703125,5.7265625,7.8125,-20.289062,0.39648438,-10.46875,3.5390625,-6.5859375,-1.9375,1.3398438,6.78125,-8.6171875,6.0078125,0.09375,2.4433594,-9.1875,2.515625,-1.125,1.265625,3.1953125,14.125,2.609375,-0.35742188,6.859375,7.1875,15.609375,-0.8515625,-5.828125,10.1875,-0.703125,6.6015625,-0.71875,1.1992188,5.671875,-0.91015625,-7.4179688,-11.90625,1.6757812,10.9453125,-0.828125,-6.4375,15.75,-3.59375,-1.28125,5.8535156,7.59375,8.0625,-0.64453125,-3.4375,14.253906,-1.0273438,-0.738281[...]
