interactions:
- request:
    body: '{"input": [{"type": "text", "data": "hello", "controls": []}], "instruction":
      "Represent the text to query a database of salutations", "normalize": false,
      "contextual_control_threshold": null, "control_log_additive": true, "model":
      "pharia-1-embedding-4608-control-with-256-embedding"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://b.inference.pharia.ai/v1/instructable_embed
  response:
    body:
      string: '{"model_version":".unknown.","embedding":[4.9270835,-0.96223956,-1.3489584,0.8203125,0.42447916,-1.4869791,3.4895833,1.0996094,-0.7291667,0.10595703,0.30989584,-1.8333334,-6.8958335,1.8489584,1.53125,0.0126953125,2.46875,0.27148438,-0.8203125,1.3671875,0.5800781,0.43489584,0.9140625,-2.046875,-0.7734375,-1.0598959,1.140625,0.43229166,-0.27799478,-2.046875,-0.13346355,1.6041666,-0.8776042,0.5911458,-0.8802083,-0.8619792,0.15332031,0.86588544,-1.8177084,0.87109375,0.31315103,0.890625,0.3893229,-0.7890625,-0.90755206,0.33072916,1.28125,1.[...]
