interactions:
- request:
    body: '{"prompts": [[{"type": "text", "data": "hello", "controls": []}], [{"type":
      "text", "data": "hello", "controls": []}], [{"type": "text", "data": "hello",
      "controls": []}], [{"type": "text", "data": "hello", "controls": []}], [{"type":
      "text", "data": "hello", "controls": []}], [{"type": "text", "data": "hello",
      "controls": []}], [{"type": "text", "data": "hello", "controls": []}], [{"type":
      "text", "data": "hello", "controls": []}], [{"type": "text", "data": "hello",
      "controls": []}], [{"type": "text", "data": "hello"[...]
