name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install deps
        run: uv sync
      - name: Assert tag version matches __version__ attribute
        run: |
          uv run python -c "import sys; sys.path.pop(0); \
            from aleph_alpha_client import __version__; \
            git_ref = '${GITHUB_REF#refs/}'; \
            assert git_ref.startswith('tags'), \
              f'{git_ref} is not a version tag'; \
            git_version = '${GITHUB_REF#refs/tags/}'[1:]; \
            assert __version__ == git_version, \
              f'versions do not match {__version__} vs. {git_version}. Please update version.py to match the git Release tag.'"
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
